body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: white;
  padding-bottom: 2em;
}
.custom-navbar {
  background-color: #0055ff; /* Azul Francia */
}

.custom-navbar .nav-link {
  color: white !important;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  text-align: center;
}

.custom-navbar .nav-link:hover {
  color: #cce6ff !important;
}

.container-button-admin {
  width: 100%;
  text-align: right;
  margin: 2em;
  float: right;
}

.form-login {
  margin: auto;
  text-align: center;
}
.login-titulo {
  font-size: 5em;
  text-align: center;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0055ff;
  font-weight: bold;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}
footer p{
    margin: 0;
    color: white;
}

.home-title{
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;

}
img{
 width: 20em;
 height: 20em;
}

.boton-admin{
  color: white;
  text-decoration: none;
}
.titulo-admin{
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}